

body {
    background: rgb(21, 30, 43);
}

.heading {
    background: rgb(243, 115, 11);
    text-align: center;
}

.col {
    border: 2px solid rgb(29, 26, 26);
    margin: 2px;
}

.personal {
    background: rgb(55, 93, 151);
    height: 110vh;
}

.profesional {
    background: rgb(55, 93, 151);
    height: 110vh;
}

label {
    margin-top: 8px;
}

h1{
    color: aliceblue;
}
#cvform{
    /* display: none; */
}

#cv-template{
    display: none;
}

.myimg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
p{
    color: rgb(235, 240, 245);
}
#leftside{
    background: rgb(180, 182, 49);
}
